.heading-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid #818285;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  display: flex;
  align-items: center;
  width: 80%;
}
.heading {
  color: orange;
}
.share {
  font-size: 24px;
  color: #818285;
  margin-left: 20px;
}
.book-space {
  padding: 10px;
}
.timing {
  color: orange;
}
p {
  font-size: 1rem;
}
.aminities-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 200px;
}
.aminities {
  display: flex;
  align-items: center;
  margin: 1em 0px;
}
.map {
  min-height: 20vh;
}
