img {
  width: 2rem;
  height: 2rem;
}
.hilight {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.navi-flex {
  flex-grow: inherit;
}
.hilight:hover {
  color: orange !important;
}
.home {
  color: orange !important;
  font-weight: bold;
  text-decoration: none;
}
span {
  color: orange;
  font-weight: bolder;
}
.me-auto {
  align-items: center;
}
