.footer-container {
  background-color: orange;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.footer-logo {
  width: 70px;
  height: 70px;
}
.row {
  display: flex;
  flex-direction: column;
}
.col {
  display: flex;
  flex-direction: row;
}
.address {
  padding: 10px;
  margin: 10px;
}
.box-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}
.email {
  padding: 10px;
  margin: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}
.follow {
  padding: 10px;
  padding-bottom: 0;
  margin: 10px;
  margin-bottom: 0;
  margin-top: 0;
}
.icon-container {
  display: flex;
  padding: 10px;
  padding-left: 0;
  margin-left: 0;
}
li {
  list-style-type: none;
  color: aliceblue;
  font-size: 24px;
  padding: 5px;
  padding-top: 0;
}
.terms {
  display: flex;
  align-items: center;
}
.hello {
  display: flex;
}
.last-row {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  width: 70%;
}
.copyright {
  color: white;
  font-weight: 600;
}
p {
  font-weight: 600;
}
.line {
  width: 1px;
  color: white;
  height: 25vh;
}
@media screen and (max-width: 767px) {
  .col {
    flex-direction: column;
    text-align: center;
  }
  .row {
    align-items: center;
  }
  .line {
    display: none;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .box-container {
    flex-direction: column;
    text-align: center;
  }
  .hello {
    flex-direction: column;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .terms {
    display: flex;
    flex-direction: column;
  }
  span {
    display: none;
  }
  .last-row {
    flex-direction: column;
  }
  .version {
    text-align: right;
  }
  .footer-logo {
  }
}
